<tr>
  <td><%= nutrition.try(:ingredient).try(:name)  %></td>
  <td><%= nutrition.serving %></td>
  <td><%= nutrition.calorie %></td>
  <td><%= nutrition.carbohydrate %></td>
  <td><%= nutrition.sodium %></td>
  <td><%= nutrition.fiber %></td>
  <td><%= nutrition.protein %></td>
</tr>