<h1>Listing nutritions</h1>

<table>
  <thead>
    <tr>
      <th>Serving</th>
      <th>Calorie</th>
      <th>Carbohydrate</th>
      <th>Sodium</th>
      <th>Fiber</th>
      <th>Protein</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nutritions.each do |nutrition| %>
      <tr>
        <td><%= nutrition.serving %></td>
        <td><%= nutrition.calorie %></td>
        <td><%= nutrition.carbohydrate %></td>
        <td><%= nutrition.sodium %></td>
        <td><%= nutrition.fiber %></td>
        <td><%= nutrition.protein %></td>
        <td><%= link_to 'Show', nutrition %></td>
        <td><%= link_to 'Edit', edit_nutrition_path(nutrition) %></td>
        <td><%= link_to 'Destroy', nutrition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nutrition', new_nutrition_path %>
<%= link_to 'Back', food_items_path %>
