<%= render partial: 'recipe_search' %>
<table class="recipe-table">

  <%= render partial: 'sort_by' %>


  <tbody>
    <% @recipes.each do |recipe| %>
    <tr>
      <td><img class="url-image" src="http://lorempixel.com/200/100/food?v=<%= "#{recipe.id}" %>') no-repeat;backgroundsize:cover;"></td>
      <td><%= link_to recipe.name, recipe_path(recipe)%></td>
      <% if current_user %>
      <td><%= button_to "favourite", favourites_path(favourite: {recipe_id: recipe.id}) %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @recipes %>
<br>

<%= link_to 'New Recipe', new_recipe_path %> |
<%= link_to 'Back', food_items_path %>
