<div class="scroll-on-page">
  <aside id="scroll-on-page-top">
    <a class="scroll-on-page-link" href="#scroll-link-1">Name</a>
    <a class="scroll-on-page-link" href="#scroll-link-2">Description</a>
    <a class="scroll-on-page-link" href="#scroll-link-3">Ingredients</a>
  </aside>

  <article>
    <p id="notice"><%= notice %></p>
    <div id="js-parallax-window" class="parallax-window-3">
      <div class="parallax-static-content">
        <h1 class="h1-parallax-2"><%= @recipe.name %></h1>
      </div>
      <div id="js-parallax-background" class="parallax-background-3"></div>
    </div>  

    <section>
      <h4 id="scroll-link-2">Method</h4>
      <p><%= @recipe.method %></p>
    </section>
    <section>
      <h4>Description</h4>
      <p> <%= @recipe.desciption %></p>
    </section>
    <section>
      <h4>Category</h4>
      <p> <%= @recipe.category  %></p>
    </section>
    
    <section class="centering">
      <h4 id="scroll-link-3">Ingredients</h4>
      <p> <%= render @recipe.ingredients %></p>
    </section>
    <section>
      <h4>Quantities of ingredients</h4>
      <p><%= render @recipe.quantities %></p>
      <a class="scroll-on-page-link" href="#scroll-on-page-top">Back to top</a>
    </section>
    
  </article>
</div>
<%= link_to 'Edit', edit_recipe_path(@recipe) if can? :edit, Recipe %> |
<%= link_to 'Destroy', recipe_path(@recipe),method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, Recipe %></td> |
<%= link_to 'Back', recipes_path %>









