<div class="scroll-on-page">
  <aside id="scroll-on-page-top">
    <a class="scroll-on-page-link" href="#scroll-link-1">Name</a>
    <a class="scroll-on-page-link" href="#scroll-link-2">Description</a>
    <a class="scroll-on-page-link" href="#scroll-link-3">Ingredients</a>
  </aside>

  <article>
    <p id="notice"><%= notice %></p>
    <section>
      <h4 id="scroll-link-1">Name</h4>
      <p><%= @recipe.name %></p>
    </section>
    <section>
      <h4 id="scroll-link-2">Method</h4>
      <p><%= @recipe.method %></p>
    </section>
    <section>
      <h4>Description</h4>
      <p> <%= @recipe.desciption %></p>
    </section>
    <section>
      <h4>Recipe Image</h4>
      <p> <%= @recipe.recipe_image%> </p>
    </section>
    <section>
      <h4>Category</h4>
      <p> <%= @recipe.category  %></p>
    </section>
    
    <section>
      <h4 id="scroll-link-3">Ingredients</h4>
      <p> <%= render @recipe.ingredients %></p>
    </section>
    <section>
      <h4>Quantities of ingredients</h4>
      <p><%= render @recipe.quantities %></p>
      <a class="scroll-on-page-link" href="#scroll-on-page-top">Back to top</a>
    </section>
  </article>
</div>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Destroy', recipe_path(@recipe),method: :delete, data: { confirm: 'Are you sure?' } %></td> |
<%= link_to 'Back', recipes_path %>









