<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Method:</strong>
  <%= @recipe.method %>
</p>

<p>
  <strong>Desciption:</strong>
  <%= @recipe.desciption %>
</p>

<p>
  <strong>Recipe image:</strong>
  <%= @recipe.recipe_image %>
</p>

<p>
  <strong>Category:</strong>
  <%= @recipe.category %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= render @recipe.ingredients %>
</p>
<p>
  <strong>Quantities of ingredients:</strong>
  <%= render @recipe.quantities %>
</p>





<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>









