<h1>Listing favourites</h1>

<table>
  <thead>
    <tr>
      <th>Recipe</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favourites.each do |favourite| %>
      <tr>
        <td><%= favourite.try(:recipe).try(:name) %></td>
        <td><%= favourite.try(:user).try(:first_name) %></td>
        <td><%= link_to 'Show', favourite %></td>
        <td><%= link_to 'Destroy', favourite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Favourite', new_favourite_path %>
<%= link_to 'Back', food_items_path %>