<p id="notice"><%= notice %></p>

<p>
  <strong>Recipe:</strong>
  <%= @favourite.recipe.name %>
  <%= link_to recipe_path %>
</p>

<p>
  <strong>User:</strong>
  <%= @favourite.user.first_name %>
</p>

<%= link_to 'Edit', edit_favourite_path(@favourite) %> |
<%= link_to 'Back', favourites_path %>
