<h1>Listing ingredients in recipes</h1>
<%= search_form_for @q do |f| %>
  <div class="filter name">
    <%= f.text_field :name_cont, placeholder: "Search for ingredients of recipes " %>
  </div>
    <p>
    <%= f.submit %>
  </p>
<% end %>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Unit</th>
      <!-- <th>Default expiry in days</th> -->
      <th>Calories </th> 
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @ingredients %>
  </tbody>
</table>

<br>

<%= link_to 'New Ingredient', new_ingredient_path %>
<%= link_to 'Back', food_items_path %>