<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ingredient.name %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @ingredient.unit %>
</p>

<p>
  <strong>Default expiry in days:</strong>
  <%= @ingredient.default_expiry_in_days %>
</p>

<p>
  <strong>Calories per serving:</strong>
  <%= @ingredient.nutrition.try :calorie %>
</p>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) if can? :edit, Ingredient %> |
<%= link_to 'Back', ingredients_path %>
