<div id="js-parallax-window" class="parallax-window-2">
  <div class="parallax-static-content-1">
    <h1 class="h1-parallax"><%= current_user.first_name %>'s Fridge</h1>
    <%= search_form_for @q do |f| %>
    <div class="filter-name">
      <%= f.text_field :name_or_ingredient_name_cont, placeholder: "Search for ingredients in fridge" %>
    </div>
    <p class="submit-button">
      <%= f.submit %>
    </p>
    <% end %>
  </div>
  <div id="js-parallax-background" class="parallax-background-2"></div>
</div>  

<div class="add-food-item"><%= link_to 'Add Food Item', new_food_item_path %> </div>


<div id="the-basics">
  <input class="typeahead" type="text" placeholder="States of USA">
</div>
<script>
var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substrRegex;

    // an array that will be populated with substring matches
    matches = [];

    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');

    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        // the typeahead jQuery plugin expects suggestions to a
        // JavaScript object, refer to typeahead docs for more info
        matches.push({ value: str });
      }
    });

    cb(matches);
  };
};
console.log("hello")

var states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
  'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
  'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
  'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
  'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
  'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
  'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
  'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
  'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
];

$('#the-basics .typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'states',
  displayKey: 'value',
  source: substringMatcher(states)
});
</script>


<div class="cf">
  <div class="fridge">
    <div class="food-images"></div>
    <% @food_items.each do |food_item| %>
    <% if food_item.food_item_image.detail.url %>
    <%= link_to image_tag(food_item.food_item_image.detail.url, class: "url-image"), food_item_path(food_item)%>
    <% else %>

    <div class="hover-tile-outer">

     <div class="hover-tile-container">

       <div class="hover-tile hover-tile-visible">
        <img class="url-image" src="http://lorempixel.com/200/100/food?v=<%= "#{food_item.id}" %>') no-repeat;backgroundsize:cover;"></div>
        <div class="hover-tile hover-tile-hidden">
          <%= link_to food_item.name, food_item_path(food_item), class: "recipe-search" %>
          <br>
          <br>
          <br>
          <%= link_to "Search for recipes with #{food_item.name} in", recipes_path(q: {name_cont_any:food_item.name}), class: "recipe-search" %>
        </div>
      </div>
    </div>

    <% end %>
    <% end %>
  </div>

  <div class="recipe-index">
    <%#= render partial: "recipes/index" %>
  </div>
</div> 
