<%= render partial: 'food_search' %>
<%= render partial: 'sort_by_exp' %>


<div class="cf">
  <div class="fridge">
    <div class="food-images"></div>
    <% @food_items.each do |food_item| %>
    <% if food_item.food_item_image.detail.url %>
    <%= link_to image_tag(food_item.food_item_image.detail.url, class: "url-image"), food_item_path(food_item)%>
    <% else %>

    <div class="hover-tile-outer">

     <div class="hover-tile-container">

       <div class="hover-tile hover-tile-visible">
        <img class="url-image" src="http://lorempixel.com/200/100/food?v=<%= "#{food_item.id}" %>') no-repeat;backgroundsize:cover;"></div>
        <div class="hover-tile hover-tile-hidden">
          <%= link_to food_item.name, food_item_path(food_item), class: "recipe-search" %>
          <br>
          <br>
          <br>
          <%= link_to "Search for recipes with #{food_item.name} in", recipes_path(q: {name_cont_any:food_item.name}), class: "recipe-search" %>
        </div>
      </div>
    </div>

    <% end %>
    <% end %>
  </div>

  <div class="recipe-index">
    <%#= render partial: "recipes/index" %>
  </div>
</div> 
