<h1>Your Fridge</h1>


<%= search_form_for @q do |f| %>
  <div class="filter name">
    <%= f.text_field :name_or_ingredient_name_cont, placeholder: "Search for ingredients in fridge " %>
  </div>
    <p>
    <%= f.submit %>
  </p>
<% end %>
<div class="fridge">
  <div class="food-images"></div>
   <% @food_items.each do |food_item| %>
       <% if food_item.food_item_image.detail.url %>
           <%= link_to image_tag(food_item.food_item_image.detail.url, class: "url-image"), food_item_path(food_item)%>
       <% else %>
            <img src="http://lorempixel.com/gray/200/100/food?v=<%= "#{food_item.id}" %>') no-repeat;backgroundsize:cover;">
       <% end %>
  <% end %>
</div>

