<p id="notice"><%= notice %></p>

<p>
  <strong>Ingredient:</strong>
  <%= @quantity.ingredient_id %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @quantity.recipe_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @quantity.amount %>
</p>

<%= link_to 'Edit', edit_quantity_path(@quantity), if can? :edit, Quantity %> |
<%= link_to 'Back', quantities_path %>
